In [3]:
from pykrx import stock
import numpy as np 
import pandas as pd
from pandas import Series

In [9]:
def 장기_단기_이평선_수익률(df, Ns, Nl):
    df = df[  [ '종가' ] ].copy()
    df['ma_s'] = df['종가'].rolling( Ns ).mean( ).shift ( 1 )
    df['ma_l'] = df['종가'].rolling( Nl ).mean( ).shift ( 1 )
    cond = (df['ma_s'] > df['ma_l'])  & (df['ma_l'].pct_change() > 0)
    df['status'] = np.where(cond, 1, 0)
    df.iloc[-1, -1] = 0
    
    # 매수/매도 조건 
    매수조건 = (df['status'] == 1) & (df['status'].shift(1) != 1)
    매도조건 = (df['status'] == 0) & (df['status'].shift(1) == 1)
    
    # 수익률 계산
    수익률 = df.loc[매도조건, '종가'].reset_index(drop=True) / df.loc[매수조건, '종가'].reset_index(drop=True)
    수익률 = 수익률 - 0.002
    return 수익률.cumprod().iloc[-1]

In [4]:
df = stock.get_index_ohlcv_by_date("20220101", "20220630", "1001")

In [5]:
print(df)

코스피              시가       고가       저가       종가        거래량            거래대금  \
날짜
2022-01-03  2998.32  3010.77  2979.42  2988.77  435825854   8193887264228
2022-01-04  2991.97  2995.25  2973.08  2989.24  621549385   9991473942836
2022-01-05  2984.05  2986.20  2936.73  2953.97  787346121  15428422516445
2022-01-06  2925.40  2952.54  2915.38  2920.53  786045066  13297135242112
2022-01-07  2933.78  2959.03  2933.10  2954.89  546172478  10582421237357
...             ...      ...      ...      ...        ...             ...
2022-06-24  2327.11  2373.48  2319.99  2366.60  654445552   8469155606714
2022-06-27  2383.20  2418.94  2365.86  2401.92  510587331   7656358037502
2022-06-28  2405.20  2422.10  2393.96  2422.09  564985557   7193433718663
2022-06-29  2387.10  2393.25  2375.45  2377.99  422127378   7965810495235
2022-06-30  2368.57  2368.57  2332.59  2332.64  515396401   8923480624878

코스피                   상장시가총액
날짜
2022-01-03  2211373367405162
2022-01-04  2212087919930193
2022-01-05  2186715367040906
2022-01-06  2162437324139180
2022-01-07  2187560533655431
...                      ...
2022-06-24  1862320799525167
2022-06-27  1890525944714878
2022-06-28  1906214561249121
2022-06-29  1871275785944460
2022-06-30  1835493487294140

[121 rows x 7 columns]

In [6]:
df

코스피,시가,고가,저가,종가,거래량,거래대금,상장시가총액
날짜,,,,,,,
2022-01-03,2998.32,3010.77,2979.42,2988.77,435825854,8193887264228,2211373367405162
2022-01-04,2991.97,2995.25,2973.08,2989.24,621549385,9991473942836,2212087919930193
2022-01-05,2984.05,2986.20,2936.73,2953.97,787346121,15428422516445,2186715367040906
2022-01-06,2925.40,2952.54,2915.38,2920.53,786045066,13297135242112,2162437324139180
2022-01-07,2933.78,2959.03,2933.10,2954.89,546172478,10582421237357,2187560533655431
...,...,...,...,...,...,...,...
2022-06-24,2327.11,2373.48,2319.99,2366.60,654445552,8469155606714,1862320799525167
2022-06-27,2383.20,2418.94,2365.86,2401.92,510587331,7656358037502,1890525944714878
2022-06-28,2405.20,2422.10,2393.96,2422.09,564985557,7193433718663,1906214561249121
2022-06-29,2387.10,2393.25,2375.45,2377.99,422127378,7965810495235,1871275785944460
2022-06-30,2368.57,2368.57,2332.59,2332.64,515396401,8923480624878,1835493487294140

In [7]:
df = df[['종가']]

In [1]:
df

NameError: name 'df' is not defined

In [10]:
result = 장기_단기_이평선_수익률(df, 3, 45)

In [11]:
result

0.9551017507492239