In [1]:
import openpyxl

In [2]:
import pandas as pd

df = pd.DataFrame([[11, 21, 31], [12, 22, 32], [31, 32, 33]],
                  index=['one', 'two', 'three'], columns=['a', 'b', 'c'])

In [3]:
df

        a   b   c
one    11  21  31
two    12  22  32
three  31  32  33

In [4]:
print(df)

        a   b   c
one    11  21  31
two    12  22  32
three  31  32  33

In [4]:
# 엑셀 파일 출력
df.to_excel('C:/Users/Administrator/python ex/export_sample.xlsx', sheet_name='new_name')

In [6]:
# index, column 미출력
df.to_excel('C:/Users/Administrator/python ex/export_sample2.xlsx', sheet_name='new_name', index=False, header=False)