In [ ]:
from PyQt5.QtWidgets import QWidget,QScrollArea, QTableWidget, QVBoxLayout,QTableWidgetItem
import pandas as pd

win = QWidget()
scroll = QScrollArea()
layout = QVBoxLayout()
table = QTableWidget()
scroll.setWidget(table)
layout.addWidget(table)
win.setLayout(layout)    


df = pd.DataFrame({"a" : [4 ,5, 6],"b" : [7, 8, 9],"c" : [10, 11, 12]},index = [1, 2, 3])
table.setColumnCount(len(df.columns))
table.setRowCount(len(df.index))
for i in range(len(df.index)):
    for j in range(len(df.columns)):
        table.setItem(i,j,QTableWidgetItem(str(df.iloc[i, j])))

win.show()

In [1]:
class Point:
        def __init__(self, x, y):
                self.x = x
                self.y = y
        def setx(self, x):
                self.x = x
        def sety(self, y):
                self.y = y
        def get(self):
                return (self.x, self.y)
        def move(self, dx, dy):
                self.x += dx
                self.y += dy

In [2]:
a = Point(3,3)

In [3]:
a.get()

(3, 3)

In [4]:
a.setx(4)

In [5]:
a.sety(2)

In [6]:
a.get()

(4, 2)

In [7]:
a.move(-4,-2)

In [8]:
a.get()

(0, 0)

In [1]:
pip install pygame

Collecting pygameNote: you may need to restart the kernel to use updated packages.
  Downloading pygame-2.1.2-cp38-cp38-win_amd64.whl (8.4 MB)
Installing collected packages: pygame
Successfully installed pygame-2.1.2

In [2]:
import pygame

pygame 2.1.2 (SDL 2.0.18, Python 3.8.8)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [3]:
pygame.init()

(5, 0)

In [4]:
size = [400,900]

import pygame

# 1. 게임 초기화
pygame.init()

# 2. 게임창 옵션 설정
size = [400, 900]
screen = pygame.display.set_mode(size)

title = "My Game"
pygame.display.set_caption(title)

# 3. 게임 내 필요한 설정
clock = pygame.time.Clock()
black = (0,0,0)
white = (255,255,255)
k = 0

# 4. 메인 이벤트
SB = 0
while SB == 0:

    # 4-1. FPS 설정
    clock.tick(2)

    # 4-2. 각종 입력 감지
    for event in pygame.event.get():
        if event.type == pygame.QUIT:
            SB = 1

    # 4-3. 입력, 시간에 따른 변화
    k += 1
    if k % 2 == 0:
        color = black
    else:
        color = white

    # 4-4. 그리기
    screen.fill(color)

    # 4-5. 업데이트
    pygame.display.flip()

# 5. 게임 종료
pygame.quit()

In [5]:
import pygame

# 1. 게임 초기화
pygame.init()

# 2. 게임창 옵션 설정
size = [400, 900]
screen = pygame.display.set_mode(size)

title = "My Game"
pygame.display.set_caption(title)

# 3. 게임 내 필요한 설정
clock = pygame.time.Clock()
black = (0,0,0)
white = (255,255,255)
k = 0

# 4. 메인 이벤트
SB = 0
while SB == 0:

    # 4-1. FPS 설정
    clock.tick(2)

    # 4-2. 각종 입력 감지
    for event in pygame.event.get():
        if event.type == pygame.QUIT:
            SB = 1

    # 4-3. 입력, 시간에 따른 변화
    k += 1
    if k % 2 == 0:
        color = black
    else:
        color = white

    # 4-4. 그리기
    screen.fill(color)

    # 4-5. 업데이트
    pygame.display.flip()

# 5. 게임 종료
pygame.quit()

KeyboardInterrupt:

In [1]:
import pygame

# 1. 게임 초기화
pygame.init()

# 2. 게임창 옵션 설정
size = [400, 900]
screen = pygame.display.set_mode(size)

title = "My Game"
pygame.display.set_caption(title)

# 3. 게임 내 필요한 설정
clock = pygame.time.Clock()

class obj:
    def __init__(self):
        self.x = 0
        self.y = 0
    def put_img(self, address):
        if address[-3:] == "png":
            self.img = pygame.image.load(address).convert_alpha()
        else :
            self.img = pygame.image.load(address)
        self.sx, self.sy = self.img.get_size()
    def change_size(self, sx, sy):
        self.img = pygame.transform.scale(self.img, (sx, sy))
        self.sx, self.sy = self.img.get_size()
    def show(self):
        screen.blit(self.img, (self.x,self.y))
        
ss = obj()
ss.put_img("D:/temp/ss.png")
ss.change_size(50,80)
ss.x = round(size[0]/2- ss.sx/2)
ss.y = size[1] -ss.sy - 15
        
black = (0,0,0)
white = (255,255,255)
k = 0

# 4. 메인 이벤트
SB = 0
while SB == 0:

    # 4-1. FPS 설정
    clock.tick(60)

    # 4-2. 각종 입력 감지
    for event in pygame.event.get():
        if event.type == pygame.QUIT:
            SB = 1

    # 4-3. 입력, 시간에 따른 변화
    k += 1

    # 4-4. 그리기
    screen.fill(black)
    ss.show()
    
    # 4-5. 업데이트
    pygame.display.flip()

# 5. 게임 종료
pygame.quit()

pygame 2.1.2 (SDL 2.0.18, Python 3.8.8)
Hello from the pygame community. https://www.pygame.org/contribute.html

FileNotFoundError: No such file or directory: 'D:/temp/ss.png'.

In [3]:
import numpy as np
import pandas as pd

# 1. Create Pandas Dataframe

from IPython.display import display

# Take a 2D array as input to your DataFrame 
my_2darray = np.array([[1, 2, 3], [4, 5, 6]])
display(pd.DataFrame(my_2darray))

   0  1  2
0  1  2  3
1  4  5  6

In [4]:
# Take a dictionary as input to your DataFrame 
my_dict = {"a": ['1', '3'], "b": ['1', '2'], "c": ['2', '4']}
display(pd.DataFrame(my_dict))

   a  b  c
0  1  1  2
1  3  2  4

In [5]:
# Take a DataFrame as input to your DataFrame 
my_df = pd.DataFrame(data=[4,5,6,7], index=range(0,4), columns=['A'])
display(pd.DataFrame(my_df))

   A
0  4
1  5
2  6
3  7

In [7]:
# Take a Series as input to your DataFrame
my_series = pd.Series({"United Kingdom":"London", "India":"New Delhi", "United States":"Washington", "Belgium":"Brussels"})
display(pd.DataFrame(my_series))

                         0
United Kingdom      London
India            New Delhi
United States   Washington
Belgium           Brussels

In [8]:
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6]]))

# Use the `shape` property
print(df.shape)

# Or use the `len()` function with the `index` property
print(len(df.index))

(2, 3)
2

In [9]:
list(df.columns)

[0, 1, 2]

In [10]:
df = pd.DataFrame({"A":[1,4,7], "B":[2,5,8], "C":[3,6,9]})
#출처: https://3months.tistory.com/292 [Deep Play:티스토리]

In [20]:
# Use `iloc[]` to select a row
display(df.iloc[0])
display(df.loc[0])
list(df.columns)
display(pd.DataFrame(df))
#display(df.ix[0])
#출처: https://3months.tistory.com/292 [Deep Play:티스토리]

A    1
B    2
C    3
Name: 0, dtype: int64

A    1
B    2
C    3
Name: 0, dtype: int64

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [12]:
# Use `loc[]` to select a column
display(df.loc[:,'A'])
display(df['A'])
#출처: https://3months.tistory.com/292 [Deep Play:티스토리]

0    1
1    4
2    7
Name: A, dtype: int64

0    1
1    4
2    7
Name: A, dtype: int64

In [14]:
# 특정 row, column을 선택하기
#display(df.ix[0]['A'])
display(df.loc[0]['B'])
#출처: https://3months.tistory.com/292 [Deep Play:티스토리]

2

In [2]:
import os
import pandas as pd

os.chdir("P:\개인자료")
dataset2 = pd.read_excel('파이썬 활용 데이터 분석_신뢰성-IT.xlsx', sheet_name = 'IT', index_col = 0)

In [3]:
dataset2

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,시험조건,...,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89
관리번호,재료,파우더\n사이즈,파우더,조성,Sheet T,유전체두께,기종,칩사이즈,Vr,시험온도,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1705-17,SHBT100(NA372PA01),100,SHBT100,NA372PA01,1.4,0.933333,10A226MO7JZ,10,16,105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1705-17,SHBT100(NA372PA01),100,SHBT100,NA372PA01,1.4,0.933333,10A226MO7JZ,10,16,105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1705-17,SHBT100(NA372PA01),100,SHBT100,NA372PA01,1.4,0.933333,10A226MO7JZ,10,16,105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1705-17,SHBT100(NA372PA01),100,SHBT100,NA372PA01,1.4,0.933333,10A226MO7JZ,10,16,105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106-04,SHBT100(NA392T010),100,SHBT100,NA392T010,1.8,1.2,10A106MAAFZ2,10,25,125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2106-04,SHBT100(NA392T010),100,SHBT100,NA392T010,1.8,1.2,10A106MAAFZ2,10,25,125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2106-04,SHBT100(NA392T010),100,SHBT100,NA392T010,1.8,1.2,10A106MAAFZ2,10,25,125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2106-04,SHBT100(NA392T010),100,SHBT100,NA392T010,1.8,1.2,10A106MAAFZ2,10,25,125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2106-04,SHBT100(NA392T010),100,SHBT100,NA392T010,1.8,1.2,10A106MAAFZ2,10,25,125,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN